<template id="loading-spinner-template">
    <!--ko if: Loading-->
    <div class="d-flex justify-content-center align-items-center fw-bold">
        <div class="spinner-border spinner-border-sm text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span class="ms-1" data-bind="text: Message">Cargando Registro...</span>
    </div>
    <!--/ko-->
</template>