@model WA_StoreControl.ViewModels.SearchEntradasVM

<template id="Filter-Entrada-Template">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <span class="fas fa-filter"></span>
                <small>Filtrar Entradas</small>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("", "", FormMethod.Post, new { autocomplete = "off", data_bind = "submit: $root.GetFilteredOrPaged, with: SearchViewModel", @id = "form" }))
            {
                <div class="row mb-1">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 mt-2 align-content-center">
                        <div class="input-group">
                            <span class="input-group-text">Desde </span>
                            @Html.TextBoxFor(model => model.FechaDesde, new { @class = "form-control form-control-sm", data_bind = "jqDatepicker: FechaDesde, jqMask: { Mask: '00/00/0000' }", maxlength = "10", inputmode = "number" })
                            <span class="input-group-text">Hasta </span>
                            @Html.TextBoxFor(model => model.FechaHasta, new { @class = "form-control form-control-sm", data_bind = "jqDatepicker: FechaHasta, jqMask: { Mask: '00/00/0000' }", maxlength = "10", inputmode = "number" })
                        </div>
                    </div>

                    <div class="col d-grid gap-2 mt-2" data-bind="disableInputs: $root.LoadingRegistros()">
                        <button type="submit" class="btn btn-primary btn-primary btn-sm"> <i class="fa fa-search"></i> Buscar</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-bind="click: $root.CleanFilter"><i class="fas fa-broom"></i> Limpiar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</template>
