@model WA_StoreControl.ViewModels.IndexEntradasVM

@{
    ViewBag.Title = "Entradas";
    @Html.Hidden("JsonData")
}

<div class="row">
    <div class="col-12">
        <div data-bind="template: { name: 'Filter-Entrada-Template' }"></div>
    </div>

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <div class="row align-items-center">
                    <div class="col-6 d-flex justify-content-start">
                        <h2 class="mb-0">
                            <small>Lista de @ViewBag.Title</small>
                        </h2>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button"
                                class="btn btn-primary"
                                title="Crear Nuevo"
                                data-bind="click: () => CrearEntrada()">
                            Crear Nuevo
                        </button>
                    </div>

                </div>
            </div>

            <div class="x_content">
                <div data-bind="template: { name: 'table-Entrada-template' }"></div>
            </div>
        </div>
    </div>
</div>


@{ Html.RenderPartial("~/Views/Shared/KnockoutComponents/_LoadingSpinner.cshtml");}

@{ Html.RenderPartial("~/Views/Shared/KnockoutComponents/_Modal.cshtml");}

@{ Html.RenderPartial("~/Views/Shared/KnockoutComponents/_PaginationTemplate.cshtml");}

@{ Html.RenderPartial("~/Views/Entradas/_FilterEntradas.cshtml", Model.SearchEntradasVM);}

@{ Html.RenderPartial("~/Views/Entradas/_TableEntradas.cshtml"); }

@section scripts {
    @Scripts.Render("~/bundles/Entrada")
}