<template id="NoData-Template">
    <div class="bg-warning bg-opacity-50 d-flex align-items-center p-3 border-warning rounded" role="alert">
        <i class="fa fa-exclamation-triangle me-2"></i>
        <div class="fw-bold" data-bind="text: Message"></div>
    </div>
</template>