<template id="spinner-template">
    <!--ko if: Loading-->
    <div class="d-flex justify-content-center mt-2">
        <div class="spinner-grow text-primary me-1" role="status">
        </div>
        <div class="spinner-grow text-success me-1" role="status">
        </div>
        <div class="spinner-grow text-danger" role="status">
        </div>
    </div>
    <!--/ko-->
</template>